**/secrets
!**/*.keep
**/*.tmp
.python-version

/public

/requirements.txt
/dist
/build

**/.ipynb_checkpoints
**/.coverage
**/.hypothesis
**/.tox
**/.idea
**/.vscode
**/*.egg-info
**/.mypy_cache
**/__pycache__
**/.pytest_cache
**/.ropeproject
**/.ruff_cache
