**/secrets
!**/*.keep
**/*.tmp
**/.vscode
**/.DS_store
.python-version

/public

/requirements.txt
/dist
/build

*.pyc
**/.ipynb_checkpoints
**/.coverage
**/.hypothesis
**/.tox
**/.idea
**/*.egg-info
**/.mypy_cache
**/__pycache__
**/.pytest_cache
**/.ropeproject
**/.ruff_cache
